<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NhậnDiệnBiểnSốXe.Properties.Settings.BienSoXeConnectionString"
            connectionString="Data Source=DINHQUANGVUONG;Initial Catalog=BienSoXe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
